.drag-and-drop {
    line-height: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.selected-container {
    margin: 10px;
    background: #A29061;
    width: 50%;
    padding: 10px;
}

.unselected-container {
    background: #A29061;
    width: 15%;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.drop-items-here {
    display: flex;
    align-items: center;
}

.requests--container, .courses--container, .slots--container {
    background: #FFFFFF;
    box-shadow: -4.13636px 4.13636px 3.30909px rgba(0, 0, 0, 0.25);
    border-radius: 9.1px;
    margin: 5px;
    overflow-wrap: break-word;
}

.courses--container, .slots--container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    font-size: 10px;
}
.courses--container {
    width: 10%;
}

.slots--container {
    background: #A29061;
    box-shadow: inset 0px 0px 8px 2px rgba(11, 14, 51, 0.6);
    border-radius: 9.1px;
    width: 15%;
}

.student--info {
    font-size: 10px;
    margin: 5px;
    margin-bottom: -15px;
    font-weight: bold;
}

.student-txt {
    font-size: 12px;
}
.course-txt {
    color: rgb(92, 92, 92);
}

#hover-region {
    color: white;
    background: rgba(20, 27, 74, 0.2);
}