*>*{
  font-family: Gudea, sans-serif;
}

body {
  background-image: url("../public/images/WebsiteBG.png");
  background-color: #002856;
  background-size: 100%;
  margin: 0;
  
}

.nav-bar {
  background-color: #002856;
  color: white;
  border-bottom: 1px solid white;
  

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#title {
  font-size: 30px;
}
.nav-items {
  display: flex;
}
#nav-item {
  padding: 10px;
  margin: 15px;
}
.UC {
  color: #A29061;
}

a:link { text-decoration: none; }
a:visited { 
  text-decoration: none; 
  color: white; 
}
a:hover { text-decoration: none; color:rgb(47, 115, 120); }

.drag-and-drop {
  line-height: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
.selected-container {
  margin: 10px;
  background: #A29061;
  width: 50%;
  padding: 10px;
}

.unselected-container {
  background: #A29061;
  width: 15%;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.drop-items-here {
  display: flex;
  align-items: center;
}

.requests--container, .courses--container{
  background: #FFFFFF;
  border-radius: 9.1px;
  margin: 5px;
  overflow-wrap: break-word;
  display: flex;
}

.slots--container {
  margin: 5px;
  overflow-wrap: break-word;
  display: flex;
}

.courses--container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  font-size: 10px;
  width: 10%;
}

.items-dropped {
  font-weight: bold;
  font-size: 10px;
  background: #A29061;
  box-shadow: inset 0px 0px 8px 2px rgba(11, 14, 51, 0.6);
  border-radius: 9.1px;
  display: flex;
  justify-content: space-around;
}

.empty-slot {
  font-weight: bold;
  font-size: 10px;
  background: #A29061;
  box-shadow: inset 0px 0px 8px 2px rgba(11, 14, 51, 0.6);
  border-radius: 9.1px;
  padding: 23px;
}

.student--info {
  font-size: 10px;
  font-weight: bold;
  padding: 0.1px;
}

.student-txt {
  font-size: 12px;
}
.course-txt {
  color: rgb(92, 92, 92);
}

#hover-region {
  color: white;
  background: rgba(20, 27, 74, 0.2);
}

#dragging-item {
  opacity: 0;
}

.Data-Form-Div{
  color:white;
}

#DF-Semester-Title{
  font-size: 2vw;
  padding-bottom: 1.5vw;
}

#DF-Title{
  font-size: 3vw;
  padding: 1.5vw;
}

.DF-Input-Div{
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.Data-Form-DropDown{
  padding: 1vw;
}

.Data-Form-Course-Details-Div{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.DF-CD-Input-Box{
  padding: 1vw;
  margin: 1vw;
}

.DF-CD-Button{
  padding: 0.5vw;
  margin-top: 3vw;
}

.DF-Exclusive-Div{
  display: flex;
  flex-direction: row;
}

.DF-Exclusive-YES-NO{
  margin: 1vw;
}

.DF-Exclusive-Container{
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.DF-Input-Div-Student-Fields-Div{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

}

.DF-Input-Student-Fields-1{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#DF-Student-Details-Title{
  display: flex;
  flex: column;
}

#DF-Input-Div-Student{
  margin-left: -5vw;
}

.DF-Input-Div{
  padding-left: 5vw;
}

.DF-CD-Button{
  padding: 12px 24px;
  border: none;
  background-color: #FFBF3C;
  color: #102E52;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DF-CD-Button:hover {
  background-color: #ca901c;
}

.TA-Button-Container{
  padding: 1vw;
}
