body {
    background-image: url("./assets/WebsiteBG.png");
    background-color: #002856;
    background-size: 100%;
    margin: 0;
    
}

.nav-bar {
    background-color: #002856;
    color: white;
    font-family: Gudea, sans-serif;
    border-bottom: 1px solid white;
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#title {
    font-size: 30px;
}
.nav-items {
    display: flex;
}
#nav-item {
    padding: 10px;
    margin: 15px;
}
.UC {
    color: #A29061;
}